@page "/samples"
@layout EmptyLayout

<PageTitle>Samples</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 mx-auto">
            <div class="card bg-dark">
                <div class="card-body">
                    <h3 class="card-title">Welcome to the samples</h3>
                    <div class="card-text">
                        This is a collection of samples that demonstrate the capabilities of BlazorGPT.

                        <ul>
                            <li>
                                <NavLink href="/samples/todo">Todo app</NavLink>
                            </li>
                            <li>
                                <NavLink href="/samples/timepicker">Timepicker by natural language</NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>