@inherits LayoutComponentBase
<MediaQueryList>
    <RadzenDialog/>
    <RadzenNotification/>
    <RadzenTooltip/>
    <RadzenContextMenu/>

    <RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">

        <RadzenHeader>

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <RadzenButton Click="@SidebarToggleClick"
                                      Icon="menu"
                                      Variant="Variant.Outlined"
                                      ButtonStyle="ButtonStyle.Info"
                                      Visible="!sidebarExpanded"
                                      class=""/>

                        <RadzenButton Icon="add" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Medium" Click="GoToNew"/>

                        <SectionOutlet SectionName="heading"/>

                    </div>

                </div>
            </div>
        </RadzenHeader>
    
        <RadzenSidebar id="sidebar" Expanded="sidebarExpanded" Responsive="false">
           
            <RadzenButton Click="@SidebarToggleClick"
                          Icon="menu_open"
                          Variant="Variant.Outlined"
                          ButtonStyle="ButtonStyle.Info"
                          Visible="sidebarExpanded"
                          class="float-end m-2"/>

            <RadzenPanelMenu>


                <RadzenPanelMenuItem Text="BlazorGPT" Path="/"/>
                <RadzenPanelMenuItem Icon="chat" Text="New" Path="conversation" @onclick:stopPropagation="true" Target="_top"/>
                <RadzenPanelMenuItem Icon="history" Text="History" Path="conversations" />
                <RadzenPanelMenuItem Icon="people" Text="Quick profiles" Path="quickprofiles"/>
                <RadzenPanelMenuItem Icon="format_list_numbered" Text="Scripts" Path="scripts"/>
                <RadzenPanelMenuItem Icon="list" Text="System prompts" Path="systemprompts"/>

            </RadzenPanelMenu>

            <LoginDisplay/>


            <div class="py-3 py-md-4" style="padding: var(--rz-panel-menu-item-padding);">
                <RadzenText Text="BlazorGPT v3" TextStyle="TextStyle.Caption" style="color: var(--rz-text-disabled-color);" TagName="TagName.P" TextAlign="TextAlign.Center"/>
            </div>
        </RadzenSidebar>

        <RadzenBody>
            <div class="container-fluid ps-0 pe-0 pt-2 pt-md-2 pt-lg-2 pt-xl-2" style="max-width: 1440px;">
                <div class="row">
                    <div class="col">
                        @Body
                    </div>
                </div>
            </div>
        </RadzenBody>

    </RadzenLayout>
</MediaQueryList>
