@inherits LayoutComponentBase

<MediaQueryList>
    <RadzenDialog />
    <RadzenNotification />
    <RadzenTooltip />
    <RadzenContextMenu />

    <RadzenLayout >
        <RadzenBody>
            <div class="container-fluid pt-2 pt-md-2 pt-lg-2 pt-xl-2 pb-2 pb-lg-5" style="max-width: 1440px;">
                <div class="row">
                    <div class="col">
                        @Body
                    </div>
                </div>
            </div>
        </RadzenBody>

    </RadzenLayout>
</MediaQueryList>
