@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Account" Icon="person" Navigate="true" Path="Account/Manage" />
        </RadzenPanelMenu>

        <form action="Account/Logout" method="post">
            <RadzenButton Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" class="m-3" type="submit">Logout</RadzenButton>
            <AntiforgeryToken/>
            <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
        </form>
    </Authorized>
    <NotAuthorized>
        
        <NavLink class="pe-3" href="Account/Register">
            Register
        </NavLink>
        <NavLink  href="Account/Login">
             Login
        </NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}