<span class="@Class material-symbols-outlined message-icon-@Role?.ToLower()">@Icon</span>
@code {

    [Parameter]
    public string? Role { get; set; }

    [Parameter]
    public string? Class { get; set; }

    public string? Icon { get; set; }

    protected override void OnInitialized()
    {
        switch (Role)
        {
            case "system":
                Icon = "settings_suggest";
                break;
            case "assistant":
                Icon = "robot_2";
                break;
            case "user":
                Icon = "person";
                break;

            default:
                Icon = "help_outline";
                break;
        }
    }

}