@using Microsoft.SemanticKernel.Connectors.AI.OpenAI.Tokenizers
@if (Value != null)
{
    <RadzenTree Expand=@OnExpand Collapse=@OnCollapse >
        <RadzenTreeItem Text="">
            <ChildContent>
                <div class="markdown-embeddings">@Value</div>
                @if (tokens != null && tokens.Any())
                {
                    <span>Token count: @tokens.Count()</span>
                }
            </ChildContent>
            <Template>
                <RadzenIcon Icon="attachment" IconStyle="IconStyle.Info"></RadzenIcon>
                <b>@context.Text</b>
            </Template>
        </RadzenTreeItem>
    </RadzenTree>
}

@code {

    [Parameter]
    public string? Value { get; set; }

    IEnumerable<int>? tokens;

    protected override void OnParametersSet()
    {
        if (Value != null) tokens = GPT3Tokenizer.Encode(Value);
    }

    private void OnExpand(TreeExpandEventArgs arg)
    {
    }

    private void OnCollapse(TreeEventArgs arg)
    {
    }

}
