@if (Value != null)
{
    <RadzenTree Expand=@OnExpand Collapse=@OnCollapse >
        <RadzenTreeItem Text="">
            <ChildContent>
                <div class="markdown-embeddings">@Value</div>
            </ChildContent>
            <Template>
                <RadzenIcon Icon="attachment" IconStyle="IconStyle.Info"></RadzenIcon>
                <b>@context.Text</b>
            </Template>
        </RadzenTreeItem>
    </RadzenTree>
}

@code {

    [Parameter]
    public string? Value { get; set; }

    private void OnExpand(TreeExpandEventArgs arg)
    {
    }

    private void OnCollapse(TreeEventArgs arg)
    {
    }

}
