@* @using Microsoft.SemanticKernel.Planning
@if (Plan != null)
{
    int stepCounter = 0;
    <ul>

        @foreach (var step in Plan.Steps)
        {
            <li>
                <span class="me-3">@step.Name</span>
                
                
                @if (stepCounter < Plan.NextStepIndex)
                {
                    <span>Done</span>
                }
                @if (stepCounter == Plan.NextStepIndex)
                {
                    <span>Running</span>
                }
                @if (stepCounter > Plan.NextStepIndex)
                {
                    <span>Pending</span>
                }
            </li>

            stepCounter++;
        }
    </ul>
}

@code {

    [Parameter]
    public Plan? Plan { get; set; }

} *@