@code
{


    [Parameter]
    public string? PlanAsString { get; set; }

    [Parameter]
    public string? Title { get; set; }
}

<RadzenPanel AllowCollapse="true" Collapsed="true" class="m-3 actionlog">
    <HeaderTemplate>
        @Title
    </HeaderTemplate>
    <ChildContent>
        <div class="pt-3">
           
            <MarkdownContent Content="@PlanAsString"/>

        </div>
    </ChildContent>
</RadzenPanel>