@code
{
    [Parameter]
    public string? PlanAsString { get; set; }
}

<RadzenPanel AllowCollapse="true" Collapsed="false" Class="m-3">
    <HeaderTemplate>
        Action log
    </HeaderTemplate>
    <ChildContent>
        <div class="pt-3">
           
            <MarkdownContent Content="@PlanAsString"/>

        </div>
    </ChildContent>
</RadzenPanel>