@using BlazorPro.BlazorSize
@inherits LayoutComponentBase

<MediaQueryList>


<RadzenDialog/>
<RadzenNotification/>
<RadzenTooltip/>
<RadzenContextMenu/>

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <div class="container-fluid">

            <div class="row justify-content-start align-items-center">

                <div class="col-2 d-flex align-items-center ps-0 pl-0">
                    <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>

                </div>
                <div class="col-10 d-flex align-items-center justify-content-end">
                    <LoginDisplay/>
                </div>
            </div>
        </div>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded">
        <div class="container-fluid pt-2 pt-md-2 pt-lg-2 pt-xl-2 pb-2 pb-lg-5" style="max-width: 1440px;">
            <div class="row">
                <div class="col">
                    @Body
                </div>
            </div>
        </div>
    </RadzenBody>
    <RadzenSidebar Expanded="@sidebarExpanded" style="z-index: 2">
        @*        <div class="py-3 py-lg-4" style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border); display: flex; flex-direction: column; gap: 1rem; align-items: center;">
            <RadzenImage Path="/images/logo.png"  style="width: 48px; height: 48px;"></RadzenImage>
            <RadzenText Text="DarkRadzen" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="mb-0" style="color: var(--rz-primary-light);" />
        </div>*@
        
        <RadzenPanelMenu Click="SidebarToggleClickMenu">
            <RadzenPanelMenuItem Text="Home" Path="/"/>
            <RadzenPanelMenuItem Icon="chat" Text="New" Path="conversation" @onclick:stopPropagation="true"/>
            <RadzenPanelMenuItem Icon="question_answer" Text="Conversations" Path="conversations"/>
            <RadzenPanelMenuItem Icon="people" Text="Quick profiles" Path="quickprofiles"/>
            <RadzenPanelMenuItem Icon="format_list_numbered" Text="Scripts" Path="scripts"/>
        </RadzenPanelMenu>
 

        <div class="py-3 py-md-4" style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="BlazorGPT v1.0" TextStyle="TextStyle.Caption" style="color: var(--rz-text-disabled-color);" TagName="TagName.P" TextAlign="TextAlign.Center"/>
        </div>
    </RadzenSidebar>
</RadzenLayout>
</MediaQueryList>
