<button type="button" class="btn btn-secondary @Class" @onclick="OpenSettings">Model</button>
@code
{
    [Parameter]
    public string? Class { get; set; }

    [Inject]
    DialogService? DialogService { get; set; }

    private async Task OpenSettings()
    {
        await DialogService!.OpenAsync<ModelSettings>("Select model", options:new DialogOptions()
        {
            CloseDialogOnOverlayClick = true,
        });
    }
}