@page "/share/{conversationId:guid?}"
@using Microsoft.EntityFrameworkCore
@layout EmptyLayout

<div class="col-12 col-md-6 mx-auto">
    <h3>@Conversation?.Summary</h3>
    <ConversationDisplay BotMode="true" Conversation="@Conversation" Style="height: auto"/>
</div>

@code {

    [Parameter]
    public Guid? ConversationId { get; set; }

    [Inject]
    public IDbContextFactory<BlazorGptDBContext>? DbContextFactory { get; set; }

    [Inject]
    public ConversationsRepository? ConversationsRepository { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Conversation = await ConversationsRepository!.GetConversation(ConversationId);
    }

    public Conversation? Conversation { get; set; }
}
