@inherits LayoutComponentBase
@layout AccountLayout

<div>
    
    <!-- link back to start page -->
    <a href="/" class="btn btn-secondary mb-5">Back</a>

    <h2>Change your account settings</h2>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu/>
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
