#conversationframe {
    --rz-layout-body-padding: 0;
    --rz-layout-body-margin: 0;
    margin: 0;
    padding: 0;
}

#control {
   
    border-radius: 10px 10px 10px 10px;
    background-color: var(--rz-body-background-color);
}

#bot-control {
    padding: 20px;
    margin: 0;
    width: 100%;
}

.scroll-pane {
    overflow-y: auto;
    overflow-x: hidden;
}


#message-pane {
    font-size: 0.8rem;
}
 
#layout-body {
    padding:6px;
    margin: 0px;
}

#layout-body:has(.conversationframe) {
    overflow: inherit;
    padding-bottom: 0px
}


.actionlog .rz-panel {
    padding: 8px;
    font-size: 0.8rem;
}

/* converation/scripts tabs */
.rz-tabview-nav li a, .rz-tabview-nav li a:not([href]):not([class]) 
{
    font-size: 0.8rem;
    line-height: 0.8rem;
}
